<h1>What do you want to learn about?</h1>

<%= form_for :search, method: :get do |f| %>
  <%= f.label :query, "Search for" %>
  <%= f.search_field :query, autofocus: true %>
  <%= f.submit "Go" %>
<% end %>

<% if @documents.present? %>
  <h2>Here's what Basecamp wrote about "<%= @query %>":</h2>

  <% @documents.each do |document| %>
    <div class="document">
      <h3><%= link_to document.title, document.url %></h3>
      <p><small><%= byline(document) %></small></p>

      <div class="content">
        <%= document.content %>
      </div>
    </div>
  <% end %>
<% end %>
